#todo-list {
  list-style-type: none;
}

/*Hides the input which edits todo item.*/
#todo-list input.edit {
  display: none;
}

#todo-list .editing label {
  display: none;
}

#todo-list .editing input.edit {
  display: inline;
}

.nav-bar {
  list-style-type: none;
}

.nav-bar ul li {
  display: inline;
}
